[Unit]
Description=Spark Slave node
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
User=spark
EnvironmentFile=/opt/spark/conf/envfilesystemd
ExecStart=/opt/spark/sbin/start-slave.sh spark://${SPARK_MASTER_HOST}
ExecStop=/opt/spark/sbin/stop-slave.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
